{% extends 'base.html.twig' %}
{% block title %}
  {{ form.vars.value.id ? 'Modifier' : 'Créer' }} un article – Blog Voyages
{% endblock %}
{% block body %}
  <h1>{{ form.vars.value.id ? 'Modifier' : 'Créer' }} un article</h1>
  {{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.contenu) }}
    <button class="btn btn-success">
      {{ form.vars.value.id ? 'Mettre à jour' : 'Ajouter' }}
    </button>
    <a href="{{ path('app_article_index') }}" class="btn btn-secondary">Annuler</a>
  {{ form_end(form) }}
{% endblock %}
